@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

* {
  box-sizing: border-box;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@catppuccin/tailwindcss/config.css";
@import "tailwindcss-animated";
@theme {
  --font-sans: "JetBrains Mono", sans-serif;
  --font-hebrew: "Noto Sans Hebrew", sans-serif;
  --default-font-family: "JetBrains Mono", var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

/* Ensure main content area scrolls independently */
main {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

.section-animate {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.section-animate.is-visible {
  opacity: 1;
  transform: translateY(0);
}
