@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

* {
  box-sizing: border-box;
}

@import "tailwindcss";
@import "@catppuccin/tailwindcss/config.css";

body {
  font-family: "Inter", "Heebo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.lang-en {
  font-family: "JetBrains Mono", sans-serif;
}

.lang-he {
  font-family: "Noto Sans Hebrew", sans-serif;
}

/* Ensure main content area scrolls independently */
main {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}
